---

# Stetch
image: d7ef3727-ba69-4439-b9dd-5ff2d9c351f1
vm_username: debian

# Xenial
#image: 86c6418b-d4f3-4add-8780-4629e30ce73d
#vm_username: ubuntu

num_catalyst_workers: 2
num_tark_workers: 1
rest_private_key: "~/.ssh/rest.pem"

cloud_name: embassy6
host_key: rest
floating_ip: 1.2.3.4
